div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 10rem;
}

.users {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.user {
  img {
    border-radius: 1rem;
  }

  text-align: center;
}
