<h1>One</h1>

<hr />

<h2>Count: {{ counterStore.count() }}</h2>
<h3>Interactions: {{ counterStore.interactions() }}</h3>

<hr />

<div>
  <button mat-raised-button color="primary" (click)="onIncrement(1)">
    Increment 1
  </button>
  <button mat-raised-button color="primary" (click)="onIncrement(2)">
    Increment 2
  </button>
  <button mat-raised-button color="primary" (click)="onIncrement(3)">
    Increment 3
  </button>
</div>

<hr />

<button mat-raised-button color="secondary" (click)="getUsers()">
  Get User
</button>

@if (!usersStore.loading()) {
<!-- Not Loading -->
@if (usersStore.users().length ) {
<section class="users">
  <div class="user">
    <img
      [src]="usersStore.users()[0].picture.medium"
      [alt]="usersStore.users()[0].name.first"
    />
    <span>{{ usersStore.users()[0].name.first }}</span>
  </div>
</section>
}

<!-- Loading -->
} @else {
<section class="users">
  <span>Loading...</span>
</section>
}

<hr />
